/* Universal Styles */

* {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  margin-top: 0%;
}


/* Header */

header {
   height :69px;
   width:100%;
   border-bottom: 1px solid seashell;
   position: fixed;
   background-color: black;
   display: inline;
   z-index: 10;
   
}

nav  {
  float: right;
  position: relative;
  right: 10px;
  
  
}

nav h1 {
  display: inline-block;
  padding-right : 10px;
  text-decoration: underline;
  padding-top: 20px;
}

.logo img{
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
  float: left;
  
 
}





/* Main */

section.maincontainer {
  display: block;
  
}

.mainimg {
  height: 700px;
  width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 69px;
  
  z-index: 1;
  
}

.banner  {
  display: inline-block;
  position: relative;
  bottom: 300px;
  background-color: black;
  width: 100%;
  z-index: 2;
  text-align: center;
  opacity: 0.9;
  
}



    /* Tea of the month */
.teaofthemonth {
  padding-top: 100px;
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  align-content: space around;

}

.teaofthemonth img {
    margin: 10px;
    height: 200px;
    width: 300px;
}


    /* Locations */

 {
  
}

}
/* Footer */