/* Universal Styles */

* {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  margin-top: 0%;
}


/* Header */

header {
   height :69px;
   width:100%;
   border-bottom: 1px solid seashell;
   position: fixed;
   background-color: black;
   display: inline;
   z-index: 10;
   
}

nav  {
  float: right;
  position: relative;
  right: 10px;
  
  
}

nav h1 {
  display: inline-block;
  padding-right : 10px;
  text-decoration: underline;
  padding-top: 20px;
}

.logo img{
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
  float: left;
  
 
}





/* Main */

section.maincontainer {
  display: block;
  
}

.mainimg {
  height: 700px;
  width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 69px;
  z-index: 1;
  
}

.banner  {
  display: inline-block;
  position: relative;
  bottom: 300px;
  background-color: black;
  width: 100%;
  z-index: 2;
  text-align: center;
  opacity: 0.9;
  
}



    /* Tea of the month */


#teahead {
  text-align: center;
  padding-top: 50px;
  width: 100%;
  
}

.teaofthemonth {
  padding-top: 100px;
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: centre;
  margin: auto;
  padding-bottom: 100px;
}

.teaofthemonth img {
  margin: 10px;
  height: 200px;
  width: 300px;
}

figcaption {
  text-align: center;
}



 /* Locations */

 .container {
  position: relative;
  z-index: 0;
  
  
}

.locationimg {
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  z-index:0;
  
}

.container h1 {
  text-align: center;
  position: absolute;
  background-color: transparent;
  display: block;
  width: 100%;
  padding-top: 200px;
  font-size: 45px;
  }

.locations {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  position: relative;
  text-align: center;
  width: 100%;
  top: 280px;
  z-index: 1;
}



.downtown {
  background-color: transparent;
  text-align: center; 
  margin: 40px;
  width: 300px;
  align-content: space-around;
  justify-content: space-around;
}

.eastbayside {
  
  text-align: center; 
  margin: 40px;
  width: 300px;
}

.oakdale {
  
  text-align: center; 
  margin: 40px;
  width: 300px;
}

/* Footer */

footer {
  position: relative;
  display:inline-block;
  text-align: center;
  height: 200px;
  width: 100%;
  margin-top: 550px;
  padding-top: 50px;
}

.copyright {
  float: left;
}